@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mi primer proyecto de IC/DC</h1>
    <p>Este es el <a href="https://github.com/Flac01387/TestAzureApp/">link</a>.</p>
</div>
